<p>Refresh the page to see new changes.</p>

<app-add-book></app-add-book>

<h2>Books</h2>
<table>
  <tr>
    <th>Category</th>
    <th>Id</th>
    <th>Book Name</th>
    <th>Author</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let book of bookList" >
    <td>{{book.category!.name}}</td>
    <td>{{book.id}}</td>
    <td><a routerLink="/book/{{book.id}}">{{book.name}}</a></td>
    <td>{{book.author}}</td>
    <td>
      <button type="button" routerLink="/edit-book/{{book.id}}"> Edit </button>
      <button type="button" (click)="deleteBook(book.id!)"> Delete </button>
    </td>
  </tr>
</table>
